<div *ngFor ="let journal of journals">
  <h1 id="ttle">{{journal.title}}</h1>
  <p id="cntnt">
    {{journal.content}}
  </p>
 </div>

 <div *ngIf="journal"> 
   <button *ngIf=""(click)="getData()"></button>
 </div>


 <!-- <div id="npt">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
       Title:
    <input type="text" placeholder="Title here" formControlName="title">
   </label>
   <label>
       Journal:
    <input type="text"  placeholder="Journal entry here"  formControlName="content">
   </label>
    <button type="submit">Submit</button>
   </form>
 </div> -->