#drwng{
    text-align: center;
}
#rbkscb{
    text-align: center;
}
#ltpc{
    text-align: center;
}
#rubiksCubepic{
    width: 60px;
    length: 60px;
}
#drwngpic{

}
#podcastspic{

}
#abtm{
    text-align: center;
}
#mh{
    text-align: center;
}