<!-- <div>
  <h3 *ngFor = "let item of students" id="kids">
    {{item.name}}
    {{item.status}}
  </h3>
  <div align="center"><button (click)= "checkout()" id="bttn">Check Out</button></div>
</div> -->
<div id="padding">
    <div *ngFor="let blog of blogs">
      <div class="blog-link" (click)="viewBlog(blog._id)">
        {{blog.title}}
      </div>
    </div>
  
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" formControlName="title" placeholder="title">
        </div>
        <div>
          <input type="text" formControlName="content" placeholder="content">
        </div>
        <div>
          <button type="submit">
            <span *ngIf="!submitted">Submit Journal</span>
            <span *ngIf="submitted"> <i class="fas fa-spinner fa-spin"></i></span>
  
          </button>
        </div>
        <div *ngIf="!valid" id="err">Please fill in all form fields</div>
      </form>
    </div>
  
  </div>
